@charset "utf-8";
/*CSSreset*/
html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, audio, video {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6 {
    border: 0;
    outline: 0;
}

input, select, textarea {
    vertical-align: bottom;
    border: none;
}

label, input[type='button'] {
    cursor: pointer;
}

ol, ul, li {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    word-wrap: break-word;
    border-spacing: 0;
    table-layout: fixed;
    box-sizing: border-box;
}

caption {
    visibility: hidden;
    width: 1px;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
}

img {
    border: 0;
    max-width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

em, address {
    font-style: normal;
}

hr, legend {
    display: none
}

fieldset {
    border: 0;
}

button {
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-align: center;
    overflow: visible;
    overflow: hidden;
    background: none;
}

textarea {
    height: 100px;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px;
    resize: none;
}

a {
    color: inherit;
    text-decoration: none;
}


/* ******************************
   BASE
  ****************************** */
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url(../font/NotoSansKR-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url(../font/NotoSansKR-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url(../font/NotoSansKR-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'bmhanna_pro';
    src: url(../font/BMHANNAPro.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nanumsquare';
    src: url(../font/NanumSquareR.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* **************************
    DEFAULT  / COMMON
  ************************** */
body, div, p, span, textarea, button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #24252E;
    line-height: 1.4em;
    -webkit-text-size-adjust: none;
    background-repeat: no-repeat;
    font-size: 18px;
    font-family: 'nanumsquare';
    font-weight: 400;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

/* 팝업(가이드 최소 사이즈) */
.popup{background-color: #FFF; position: absolute; top:20vh; height:176px; left:40px; right:40px; z-index: 15; display: none; border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); overflow: hidden;}
.popup .head{color: #005aab; font-weight: 600;font-size:15px; padding:10px 20px 0;} 
.popup .wrapper{position: relative; padding:30px 20px; height: 116px; display: flex; align-items: center; justify-content: center;}
.popup .txt{color: #010101; font-size:16px; line-height: 22px; font-weight: 400;}
.popup .popup_btn_wrap{position: absolute; left:0; right:0; bottom:0;}
.popup .popup_btn_wrap > button{width: 100%; height:60px; line-height: 60px; font-size: 16px; color:#fff; background-color: #0051A3; border-radius: 0 0 8px 8px; }
.popup .popup_btn2_wrap{display: grid; grid-template-columns: 50% 50%; position: absolute; left:0; right:0; bottom:0;}
.popup .popup_btn2_wrap > button:nth-of-type(1){color:#000; background-color: #DDDDDD; border-radius: 0 0 0 8px; height:60px;line-height: 60px; font-size: 16px;}
.popup .popup_btn2_wrap > button:nth-of-type(2){color:#FFF; background-color: #0051A3; border-radius: 0 0 8px 0; height:60px;line-height: 60px; font-size: 16px;}
.dimmed{position: fixed; top:0;bottom:0;left:0;right:0; background: rgba(1, 1, 1, 0.5);z-index: 10; display: none;}

